/Debug
/x64
/.vs/NavMesh/v15/.suo
/.vs/NavMesh/v15/Browse.VC.db
/.vs/NavMesh/v15/ipch/6da84a7f3500ae06.ipch
/.vs/NavMesh/v15/ipch/AutoPCH/5430c6d6b04c1604/WINDOW.ipch
/.vs/NavMesh/v15/ipch/AutoPCH/c26a244537ed19a3/MAIN.ipch
/NavMesh.aps
/.vs
